body{
    background: rgb(132, 223, 229);
}
header {
    color:rgb(95, 93, 235);
    text-align: center;
}  
input{
    border-radius: 25px;
    border: 0px;
}
section{
    background: rgb(208, 228, 233);
    border-radius: 20px;
    padding: 25px ;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(34, 31, 31);
    font: normal 15pt arial;
    text-align: center;  
}
input[type="button"]{
    background-color: rgb(95, 93, 235);
    padding: 10px 15px;
    border-radius: 25px;
    border: 0;
}
footer{
    color: rgb(95, 93, 235);
    text-align: center;
    font-style: italic;
}  