body{
    background: #ffffff;
}
header {
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-block-end: auto;
}
section{
    background: rgb(226, 255, 255);
    border-radius: 200px;
    padding: 25px ;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(34, 31, 31);
}
div{ 
    font: normal 20pt arial;
    text-align: center;
    padding: 1px;
    margin-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    margin-top: 0px;
}
footer{
    color: black;
    text-align: center;
    font-style: italic; 
}