body{
    background: rgb(20, 29, 155);
   
}
header {
    color: white;
    text-align: center;
    font: normal 15pt arial;
}
section{
    background: rgb(226, 246, 247);
    border-radius: 20px;
    padding: 25px ;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(34, 31, 31);
    font: normal 15pt arial;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
} 
select{
    margin-left: 150px;
}