body{
    background: rgba(77, 129, 117, 0.466);
} 
header {
    color: white;
    text-align: center;
    font: normal 20pt arial;
}
section{
    background: white;
    border-radius: 20px;
    padding: 25px ;
    width: 500px;
    margin: auto;
    box-shadow: 15px 15px 25px rgb(34, 31, 31);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
input[type="button" i]{
    padding: 10px;
    border-radius: 15px;
    border: 20px;
    background: rgb(0, 132, 255);
    font: italic 10pt arial;
    color: rgb(35, 31, 230);
}
div{
    font: normal 15pt arial;
}